<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>الصفحة الرئيسية</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">
        <h1> ا مرحباً بك في نظام الطلاب
             بوابتك الذكية لمتابعة دراستك وانجازاتك الاكاديمية استعرض جدولك وحضورك ة
            تجدون كل ماتحتاجونه بسهولة </h1>
        <p>هذه الصفحة تم تحميلها من قالب HTML في Django.

        </p>

        <hr>

        <a href="{% url 'students:about' %}">من نحن</a>
    </div>

</body>

</html>