body {
    font-family: Tahoma, Arial, sans-serif;
    background-color: #fff5df;
    text-align: center;
    direction: rtl;
    padding: 50px;
}

h1 {
    color: #1f4e79;
    font-size: 40px;
}

p {
    color: #555;
    font-size: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #1f4e79;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    background-color: #163a5c;
}
h2 {
    color: #1f4e79;
    font-size: 35px;
}

hr {
    width: 60%;
    border: 1px solid #1f4e79;
}
.container {
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px #aaa;
}